.swiperPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
  width: 100%; /* Nouvelle ligne ajoutée */
}

.swiperContainer {
  width: 100%;
  max-width: 800px; /* Modifié de 550px à 800px */
  margin: 0 auto;
}

@media (max-width: 768px) {
  .swiperPage {
    padding: 10px;
  }

  .swiperContainer {
    max-width: 100%;
  }
}